*{
    width:auto;
    height:auto;
    margin: 0;
}
.container-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title-skills h1{
    font-size: 75px;
    position: absolute;
    margin-top: -1.3em;
    color: #FC6D6D;
}

#img-skills {
  width: 350px;
  z-index: -9;
  margin-right: 0.9em;
} 

.img-skills {
    width: 150px;
    height: auto;
    padding: 2.5em
}

.skills {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.name-skills {
    position: absolute;
}

.c-skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 40%;
} 

.group-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.img-skills {
    margin: 0 1em 1em 1em;
    transition:all .7s ease;
}

.img-skills:hover {
    padding: 1em;
    cursor: pointer;
    position: relative;
    transition:all .5s ease;
}


.wave {
    width: 100%;
    z-index: -999;
}