.container-about, .container-skills {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0.75;
}

#title-h1 {
    position: absolute;
    left: 40%;
    color: #656478;
}

.title-about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
    width:100%;
}

.title-about img {
    opacity: 0.75;
    z-index: -99;
}

.title-about h1, .title-skills h1 {
    margin: 0.5em 0 0.5em 0;
    font-size: 75px;
    z-index: 9;
}

#container-title {
    background-color: #ffffff1a;
}

.me{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position:relative;
    padding: 2em;
}

.me p {
    color: #000;
    margin-left: 3em;
    width: 80%;
    font-weight: bold;
    font-size: 18px;
}

.me-image {
    display: flex;
    z-index: 9;
    width: 65%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 31%;
}

.me-image img {
    border-radius: 3%;
    width:340px;
}

.description-me {
    margin-left: 10%;
    width: 40%;
}

.description-me p {
    margin: 1em;
}