.container-about, .container-skills {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0.8;
}

#title-h1 {
    position: absolute;
    left: 40%;
}

.title-about {
    width: auto;
    height: 245px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
}

.title-about img {
    opacity: 0.75;
    z-index: -99;
}

.title-about h1, .title-skills h1 {
    margin: 0.5em 0 0.5em 0;
    font-size: 75px;
}

.container-images {
    display: flex;
}

.me{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 80%;
    border-radius: 1em;
    /* background: #f0f8ff3d; */
    padding: 2em;
}

.me p {
    color: black;
    margin-left: 3em;
    width: 80%;
    font-weight: 500;
    font-size: 18px;
}

.me-image img {
    border-radius: 3%;
    margin: 1em;
}

.description-me {
    margin-left: 10%;
    width: 40%;
}

.description-me p {
    margin: 1em;
}

.animate__animated.animate__bounceInUp {
    --animate-duration: 3s;
  }
  .animate__animated.animate__bounceOut {
    --animate-duration: 2s;
  }

  .title-skills h1 {
      margin: 1.5em 0 0 0;
  }
  
  #img-skills {
    width: 550px;
    position: absolute;
    z-index: -9;
    top: 65%;
    left: 29%;
  }