@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.presentation {
    background-image: url(/src/assets/home/1.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
}

.hello {
  color: #34abc6 !important;
  position: absolute;
  font-size: 75px;
  bottom: 80%;
}

.title {
    position: absolute;
    font-size: 48px;
    bottom: 58%;
    left: 20%;
}

.title {
  display: flex;
}

.typewriter {
  margin-left: 0.5em;
}

.container-presentation h2 {
    color: white;
    font-weight: bold;
}