.container-contact {
    background-image: url(/src/assets/contact/contact.png);
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    margin-top: 15em;
    display: flex;
    background-size: cover;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    align-items: center;
}

.title-contact {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    top: 0;
}

.container-div-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0em 3em 7em 2em;
    align-items: center;
}

.map {
    margin-left: 10em;
    width: 25em;
    height: 20em;
    opacity: 0.8;
    border-radius: 10px;
    border: 0;
}

.container-formContact, .contact-me {
    background-color: #65647826;
    margin: 1em;
    padding: 2em;
    border-radius: 10px;
}

.container-formContact, .form-contact {
    display: flex;
    flex-direction: column;
}

.form-contact {
    opacity: 0.9
}

.form-contact h2 {
    text-align: center;
    margin: 2rem;
}

.form-contact input, textarea {
    padding: 0.5em;
    margin: 0.3em;
    border: none;
    border-radius: 5px;
}

.btn-send {
    border-radius: 10px;
    background: #e89598;
    margin: 1rem;
    width: 75%;
    align-self: center;
}

.btn-send:hover {
    background:#d2454a;
    padding: 0.1em;
}

.container-contact h1 {
    font-size: 75px;        
}

.contact-me h3, .contact-me h2{
    margin: 1em;
    padding: 0.5em;
}

.contact-me h2 {
    border-bottom: 1px solid #000;
    width: 35%;
}
