.container-contact {
    background-image: url(/src/assets/contact/contact.png);
    width: 100%;
    height: 115vh;
    opacity: 0.8;
    margin-top: 15%;
    display: flex;
    background-size: cover;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title-contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 8%;
}

.container-div-contact {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.container-map {
    margin-left: 20%;
    margin-bottom: 8%;
    opacity: 0;
    transition: all 0.8s ease-in-out 0.8s;
    cursor: pointer;
}

.container-map:hover {
    transition: opacity 1.5s;
    opacity: 0.9;
}

.map {
    margin-left: -75%;
    width: 20em;
    height: 15em;
    opacity: 0.8;
    border-radius: 10px;
    border: 0;
}

.container-formContact, .contact-me {
    padding: 2em;
    border-radius: 10px;
}

.container-formContact, .form-contact {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0.95;
    left: 43%;
    z-index: 9;
}

.form-contact {
    transition: all 0.8s ease-in-out 0.8s;
    opacity: 0;
    cursor: pointer;
}

.form-contact:hover {
    opacity: 0.9;
    transition: opacity 1.5s;
}

.form-contact h2 {
    text-align: center;
    margin: 1rem;
}

.form-contact input, textarea {
    width: 300px;
    padding: 0.5em;
    margin: 0.3em;
    border: none;
    border-radius: 5px;
    resize: none;
}

.btn-send {
    border-radius: 10px;
    background: #e89598;
    margin: 1rem;
    width: 75%;
    align-self: center;
    cursor: pointer;
}

.btn-send:hover {
    background:#d2454a;
    padding: 0.1em;
}

.container-contact h1 {
    font-size: 75px;        
}

.contact-me h3, .contact-me h2{
    margin: 1em;
    padding: 0.5em;
}

.contact-me {
    margin-top: -5.5%;
    padding: 5em 0em 0em 12em;
    transition: all 0.8s ease-in-out 1s;
    opacity: 0;
}

.contact-me:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: opacity 1.5s;
}

.contact-me h2 {
    border-bottom: 1px solid #000;
    width: 35%;
}