.container-footer {
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 5em;
    background: #656478d1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.address {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.address span {
    margin: 0.2em;
    color: #fff;
}

.social-networks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0.2em;
}


.social-networks img {
    height: 40px;
    padding: 0.4em;
    cursor: pointer;
    transition: all .3s ease;
}

.social-networks img:hover {
    padding: 0;
    transition: all .3s ease;
}